
    body {
        background-color: aqua;
    }
    #ubtpic{
        width: 80px;
        top: auto;
    }
    .e{
        padding-left: 110px;
    }
    div {
        background-color:rgb(139, 207, 230);
        max-width: 20%;
        border-radius: 30px;
        margin-top: 60px;
        margin-left: 38%;
        height: 250px;
        padding-left: 40px;
    }
    ul.login{
        padding-top: 15px;
    }
    
    ul.login li{
        font-size: 17px;
        font-weight:bold ;
        display: inline;
        border-right: grey solid 2px;
        padding-left: 8px;
        padding-right: 30px;
        
    }
    
    ul.login li:nth-child(3) {
        padding-right: 10px;
    }
    
    ul.login li:first-child {
        padding-right: 5px;
    }
    .username{
        background-color: lightgray;
        border-radius: 15px;
        margin-left: 20%;
        margin-top: 10px;
        border: none;
        padding-left: 10px;
    }
    .password{
        background-color: lightgray;
        border-radius: 15px;
        margin-left: 20%;
        margin-top: 10px;
        border: none;
        padding-left: 10px;
    }
    
    p{
        text-align: center;
    }
    #pID{
        padding-left: 900px;
    }
    #pID2{
        position: absolute;
        bottom: 10px;
        width: 90%;
    }
    .submit{
    background-color: #4CAF50;
    border: none;
    margin-left: 110px;
    margin-top: 1px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }